#takAufContainer{height:1050px;margin:5px;padding:5px;font-family:"Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;}
#takAufContainerRel{position:relative;top:0;left:0;width:477px;height:1050px;float:left}
#takAufContainer .taktischeaufstellung{width:581px;height:1055px;background:white url('http://mediadb.kicker.de/library/images/spielfeld_581x1055.png') left top no-repeat;}
#takAufContainer .taktischeaufstellung a{color:#434242;font-size:0.82em;}
#takAufContainer .taktAufVrnNameH{position:absolute;top:5px;left:7px;width:225px;}
#takAufContainer .taktAufVrnNameA{position:absolute;top:1016px;left:324px;text-align:right;width:250px;}
#takAufContainer .taktAufVrnNameH div,#takAufContainer .taktAufVrnNameH img{float:left;}
#takAufContainer .taktAufVrnNameA div,#takAufContainer .taktAufVrnNameA img{float:right;}
#takAufContainer .taktAufVrnNameH img,#takAufContainer .taktAufVrnNameA img{height:30px;}
#takAufContainer .taktAufVrnNameH div,#takAufContainer .taktAufVrnNameA div{font-size:1.44em;color:#282727;padding:3px 5px 0 5px;}
#takAufContainer .taktAufSplItem{position:absolute;width:103px;text-align:center;}
#takAufContainer .taktAufSplItem div{float:left;width:20px;height:59px;display:block;margin:0 2px;}
#takAufContainer .taktAufSplItem img{float:left;}
#takAufContainer .taktAufSplItem a{text-decoration:none;pointer-events:none;}
#takAufContainer .taktAufSplItem .taktAufStat{border-right:2px solid #B0A9A9;}
#takAufContainer .taktAufSplItem .taTor,#takAufContainer .taktAufSplItem .taGelb,#takAufContainer .taktAufSplItem .taGelbrot,#takAufContainer .taktAufSplItem .taRot,#takAufContainer .taktAufSplItem .taWechsel{height:18px;width:18px;background-color:#d7d7d7;margin-bottom:2px;}
#takAufContainer .taktAufSplItem .taTor img,#takAufContainer .taktAufSplItem .taGelb img,#takAufContainer .taktAufSplItem .taGelbrot img,#takAufContainer .taktAufSplItem .taRot img,#takAufContainer .taktAufSplItem .taWechsel img{padding: 1px 0 0 1px;}
